body {
    background-color: rgb(0, 153, 255)

}

#p {
    color: #364e96;
    font-size: 100px;
    padding: 0.5em 0;
    border-top: solid 3px #364e96;
    border-bottom: solid 3px #364e96;
}

#id{
    color: #FF7C00;
    font-size: 50px;
    background: -webkit-linear-gradient(top, #FFB76B 0%, #FFA73D 50%, #FF7C00 51%, #FF7F04 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

.p1 {
    font-size: 30px;
    color: rgb(255, 0, 0);
}

.p2{
    font-size: 5px;
    color: rgb(47, 0, 53);
}

.p3{
    color: rgb(166, 255, 0);
}